div.carousel {
  perspective: 700px !important
}

img {
  clip-path: circle(100px 100px at 50% 50%);
  object-fit: cover;
  width: 250px;
  height: 250px;
}

img:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#myGlower1, #myGlower2, #myGlower3, #myGlower4, #myGlower5, #myGlower6, #myGlower7, #myGlower8, #myGlower9, #myGlower10, #myGlower11 {
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear !important;
       -moz-transition: border 0.1s linear, box-shadow 0.1s linear !important;
            transition: border 0.1s linear, box-shadow 0.1s linear !important;
            border-radius: 50% 50% 50% 50% !important
}

#myGlower1.active, #myGlower2.active, #myGlower3.active, #myGlower4.active, #myGlower5.active, #myGlower6.active, #myGlower7.active, #myGlower8.active, #myGlower9.active, #myGlower10.active, #myGlower11.active  {
    border-color: green;
    -webkit-box-shadow: 0 0 50px green !important;
       -moz-box-shadow: 0 0 50px green !important;
            box-shadow: 0 0 50px green !important;
            border-radius: 50% 50% 50% 50% !important
}

button {
  background-color: transparent;
  border-color: transparent;
}
