div.carousel {
  perspective: 700px !important
}

img {
  clip-path: ellipse(100px 100px at 50% 50%);
  object-fit: cover;
  width: 250px;
  height: 250px;
}

img:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
